body {
    height: 99vh;
}

#wrapper {
    height: 100%;
    overflow-y: auto;
}

#fiche-produit {
    border-bottom: 2px double darkred;
}

#fiche-produit h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0 0 0.5em;
    padding: 0;
    text-transform: uppercase;
}

#fiche-produit hr {
    margin: 5px auto;
}

.horizontal-layout {
    display: flex;
}

.produit-liste {
    width: 80%;
    margin-left: 10%;
}

.produit-liste th {
    text-align: center;
    font-weight: 900;
    text-decoration: underline;
}

.produit-liste-bouton {
    text-align: center;
}

.produit-unique-image {
    text-align: center;
    width: 512px;
    padding: 10px 20px;
}

.produit-liste-image {
    text-align: center;
    width: 256px;
    padding: 10px 20px;
}

.produit-liste-nom {
    text-transform: uppercase;
    font-size: large;
    font-weight: 700;
    color: darkred;
}

.produit-unique-image >* {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.produit-unique-contenu {
    flex-grow: 1;
    padding: 10px 30px;
}

.produit-unique-bouton {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 10px;
}

#price {
    font-size: medium;
    font-weight: 900;
    color: darkgreen;
    text-transform: uppercase;
}